footer{
			    width: 100%;
			    	background:#202020;
				height:5%;
				clear:left;
				color: white;
			}	
				
		.container-footer-all{
			width: 100%;
			max-width: 1200px;
			margin: auto;
			padding: 40px;

		}	

		.container-body{
			display: flex;
			justify-content: space-between;


		}	

		.column1{
          max-width: 400px;

		}
		.column1 h1{
			font-size: 22px;

		}
		.column1 p{
			font-size: 14px;
			color:#C7C7C7;
			margin-top: 20px;

		}
		.column2{
          max-width: 400px;

		}
		.column2 h1{
			font-size: 22px;

		}
		.row{
			margin-top: 20px;
			display: flex;
		}
		.row img{
			width: 60px;
			height: 50px;
		}
		.row label{
			margin-top: 10px;
			margin-left: 20px;
			color: #C7C7C7;
		}
		.column3{
          max-width: 400px;

		}
		.column3 h1{
			font-size: 22px;

		}
		.row2{
			margin-top: 20px;
			display: flex;
			
		}
		.row2 img{
			width: 50px;
			height: 50px;
		}
		.row2 label{
			margin-left: 20px;
		}
		.container-footer{
			
			background: #101010;
			padding: 20px;
			margin:auto;

		}

      @media screen and (max-width: 1100px){
      	.container-body{
      		flex-wrap: wrap;

      	}
      	.column2,
      	.column3{
      		margin-top: 20px;
      	}
      }